.course-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  margin-left: 50px;
}

.course {
  background-color: #1e2d22;
  padding: 20px;
  border-radius: 8px;
  width: calc(33.33% - 20px);
  box-sizing: border-box;
  cursor: pointer;
  border: 2px solid #ccc;
  transition: box-shadow 0.3s ease;
}

.course h2 {
  margin: 0;
  color: #08a535;
}

.course p {
  margin: 10px 0;
  color: white;
}

.lessons {
  list-style-type: none;
  padding-left: 20px;
  margin-top: 10px;
}

.lessons li {
  margin: 5px 0;
}

.lessons li a {
  text-decoration: none; /* Remove o sublinhado */
  color: #007bff; /* Cor padrão do link */
  transition: color 0.3s ease; /* Transição suave de cor */
}

.lessons li a:hover {
  color: #0056b3; /* Cor ao passar o mouse */
}

.course:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(10, 241, 2, 0.2);
}

.course.selected {
  border: 2px solid #08a535; /* Destaque do curso selecionado */
}

.lessons li a.selected {
  color: blue; /* Cor para a lição selecionada */
  font-weight: bold; /* Texto em negrito */
}

/* Responsividade para telas menores */
@media (max-width: 1024px) {
  .course {
    width: calc(50% - 20px);
  }
}

@media (max-width: 768px) {
  .course {
    width: 100%;
  }
}
